venv/*
venv/**

cover/*
cover/**

__pycache__/*
__pycache__/**

profiling/*
profiling/**

test_data*/*

node_modules/*
node_modules/**

tests/output_data/*
tests/output_data/**

.noseids
.DS_Store
.coverage

*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.pyc
*.rdb
*.sqlite
*.sqlite-journal
*.lprof
*.prof

screenlog.*